
  
  .news-page ,.Game-page{
    padding: 25px;
  }
  
  h1 {
    text-align: center;
  }
  
  .news-grid , .Game-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 30px;
    margin: 25px;
    
  }
  
  .news-card , .Game-card{
    /* background-color: rgb(3, 47, 9); */
    /* background-color: rgb(232, 235, 233); */
    background-color: beige;
    margin: 1rem;
    padding: 15px;
    height: auto;
    border-radius: 8px;
    
    overflow: hidden;
  }
  .news-card:hover, .Game-card:hover{
    transform: translateY(-8px);
    transition: 0.5s;
    box-shadow: 0 20px 20px rgba(34, 35, 34, 0.5), 0 -10px 20px rgba(35, 88, 37, 0.5);
  }
  
  .news-image , .Game-image{
    width: 100%;
    height: auto;
    border-radius: 8px;
  }
  
  .news-content , .Game-content{
    margin-top: 10px;
  }
  
  .news-title , .Game-title{
    color: black;
    font-size: 1.2rem;
    margin: 10px 0;
  }
  
  .news-time , .Game-time{
    color: #8e8e93;
    font-size: 0.8rem;
  }
  
  .news-description , .Game-description{
    color:rgb(23, 88, 109);
    font-size: 0.9rem;
    margin-bottom: 10px;
  }
  
  .read-more {
    color: #0080ff;
    text-decoration: none;
  }
  
  .read-more:hover {
    text-decoration: underline;
  }
  