.blog-container{
    border: 1px solid #e0e0e0;
    height: auto;
    width: 80%;
    margin-left: 2rem;
    margin-right: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blog-container .main_two-blogs {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}
img{
    width: 100%;
}


